<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/style.css" />
    <title>Add Task</title>
  </head>
  <body>
    <main>
      <h1>Add Task</h1>
      <form class="add_task_form" id="add_task_form">
        <label>
          Task Title:<br />
          <input type="text" name="title" required maxlength="100" /> </label
        ><br />
        <label>
          Description:<br />
          <textarea
            name="description"
            rows="3"
            maxlength="500"
          ></textarea></label
        ><br />
        <label>
          Due Date:<br />
          <input type="date" name="dueDate" required /> </label
        ><br />
        <button type="submit">Add</button>
      </form>
      <a class="back_link" href="/">Back to Task List</a>
    </main>
    <script src="../static/js/add_task.js" defer></script>
  </body>
</html>
