<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/style.css" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📋</text></svg>"
    />
    <title>Task manager</title>
  </head>
  <body>
    <main>
      <h1>Task Manager</h1>
      <div class="content">
        <ul class="actions">
          <li><a href="/add_task" class="add_task">➕ Add Task</a></li>
          <li>
            <span class="sort_actions">
              🔄 Sort by date ▼
              <div class="popup">
                <button class="sort_date">📅 Sort by date</button>
                <button class="sort_name">🔤 Sort by name</button>
              </div>
            </span>
          </li>
          <li>
            <span class="filter_actions">
              🔍 All tasks ▼
              <div class="popup">
                <button class="filter_all">📋 All tasks</button>
                <button class="filter_active">🔄 Active</button>
                <button class="filter_completed">✅ Completed</button>
              </div>
            </span>
          </li>
        </ul>
        <div class="task_cards">
          <ul class="task_header">
            <li><span class="task_name">📋 Task</span></li>
            <li><span class="task_description">📝 Description</span></li>
            <li><span class="task_due_date">📅 Due Date</span></li>
            <li><span class="task_status">📊 Status</span></li>
            <li><span class="task_actions">⚙️ Actions</span></li>
          </ul>
        </div>
      </div>
    </main>
    <script src="../static/js/index.js" defer></script>
  </body>
</html>
